@font-face {
  font-family: 'Coolvetica ';
  src: url('coolvetica rg.otf') format('otf'),
}

body {
  font-family: 'Coolvetica', sans-serif;
}

body {
  padding: 10px;
  color: #d8d8d8; 
}

div {
  padding: 2px;
  margin: 2px;
}

h1, h2, h3 {
  padding: 5px 0;
  font-family: 'Coolvetica', sans-serif;
}


p {
  padding: 2px 0;
  font-family: 'Coolvetica', sans-serif;
}

a {
  padding: 5px 0;
  display: inline-block;
  color: #8b0814;
}

ul {
  padding-left: 40px;
}

li {
  padding: 8px 0;
}

iframe {
  margin: 20px 0;
}

footer {
  padding: 20px;
  margin: 20px 0;
}

body {
  background-color: #151514;
}

