 a {
        text-decoration: none; /* removes underline */
 }

body {
  background-color: #000000;
}

h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 11em;

  color: white;
  text-shadow: 0 0 40px #ff0000;
  animation: glow 8s infinite alternate;
}

h1.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  /* border: 2px white solid; */
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px #ff0000;
  }
  to {
    text-shadow: 0 0 40px #ff0000, 0 0 40px #ff0000;
  }
}

h2{
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  
}


p{
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;

}

.move {
  position: relative;   /* or relative, fixed, sticky */
  top: 50px;            /* distance from the top */
  left: 100px;          /* distance from the left */
}

.center-screen {
  display: flex;
  justify-content: center; /* centers left-right */
  align-items: center;     /* centers top-bottom */
  height: 100vh;           /* full viewport height */
  text-align: center;      /* centers text inside */
}


.blur:hover{
filter: blur(0px);
/* transition: 1s ease-in; */

}

a {
  color: rgb(255, 0, 0);
  
}

a:hover {
color: rgb(255, 255, 255)
}
