 a {
        text-decoration: none; /* removes underline */
 }

body {
  background-color: #000000;
}

h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 11em;

  color: white;
  text-shadow: 0 0 10px #ff0000;
  animation: glow 5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px #ff0000;
  }
  to {
    text-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000;
  }
}

h2{
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  
}

img {
  height: 150px;
  border-radius: 20px;
  padding: 10px;
  transition: 1s;
  filter: grayscale(100%);
  /*      border: 3px solid blue; */
}

img:hover {
  height: 400px;
  filter: grayscale(0%);
  /*   border: 1px solid red; */
}

p{
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;

  .box {
    position: relative;
    height: 500px;
     }

   .text {
     position: absolute;
     top: 10px;     /* distance from the top */
    left: 100px;   /* distance from the left */
   }

}

 
.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  /* border: 2px white solid; */
}

.blur {
filter: blur(5px);

}

.blur:hover{
filter: blur(0px);
/* transition: 1s ease-in; */

}

a {
  color: rgb(255, 0, 0);
}

a:hover {
color: rgb(255, 255, 255)
}


#p1 {
  animation: coolAnimation 5s infinite;
}
